@{
	ViewBag.Title = "About";
}
<h2>@ViewBag.Message</h2>

<p>
	This web app has been built by team Transparency Ninja's as part of <a href="http://govhack.org.nz/">GovHack 2019</a>

	<br />
	<br />
	Every few years billboards appear saying “Vote for Me” and representatives for councils and health boards are voted into office, but do they represent us?
	<br />
	<br />
	How do we know what they are discussing, or even if they attend meetings?
	<br />
	<br />
	Are they discussing important emerging topics

	<ul>
		<li>
			The climate emergency
		</li>
		<li>
			Mental health
		</li>
		<li>
			Water quality and supply
		</li>
		<li>
			Energy availability
		</li>
	</ul>

	<br />
	What are they doing to address these?
	<br />
	<br />
	We could go to a meeting, watch it streamed online, read the minutes, or rely on the news to tell us, but is there a way that technology can help?
	<br />
	<br />
	This is where team Transparency Ninja's came in and created this web app.
	<br />
	<br />

	All Source code and data is stored in our GitHub project: <a href="https://github.com/AdrianTVB/arewebeingserved">AreWeBeingServed?</a>
</p>
<p>Transparency Ninja team members:</p>

<ul>
	<li>
		Himalaya Patel
	</li>
	<li>
		Sean Heemeyer
	</li>
	<li>
		Gabe Ward
	</li>
	<li>
		Kamaljit Singh
	</li>
	<li>
		Adrian Teding van Berkhout
	</li>
	<li>
		Jeff Cooke
	</li>
</ul>

