@model Creo.ViewModels.MeetingAttendanceList

@{
	ViewBag.Title = "Councilor Attendance";
}

<h2>Councilor Attendance</h2>

<div class="container-fluid">
	<table class="table">
		<thead>
			<tr>
				<th scope="col">Name</th>
				<th scope="col">Attendance</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>
					Taj Kamal
				</td>
				<td>
					56
				</td>
			</tr>
			<tr>
				<td>
					Bob Smith
				</td>
				<td>
					75%
				</td>
			</tr>
			<tr>
				<td>
					Amy McGee
				</td>
				<td>
					89%
				</td>
			</tr>
		</tbody>
	</table>
</div>