
@{
	ViewBag.Title = "Reports";
}

<h2>@ViewBag.Title</h2>

<div class="container-fluid">
	<p>Report in power BI locally, not published yet.</p>
	@*<iframe width="800" height="600" src="https://app.powerbi.com/view?r=eyJrIjoiZDkwZTA4MTItMGRmYS00NGE2LTk5MzktMzNkMGUyOGQwZGQ2IiwidCI6IjcwM2IyYmZkLTU1ZjctNDAwZC05Mjk3LTA5MzJhYzRjNmVhMyJ9" frameborder="0" allowFullScreen="true"></iframe>
	<iframe width="100%" height="800" src="https://app.powerbi.com/reportEmbed?reportId=3fe478ea-bb5b-4859-a224-dda64a677812&autoAuth=true&ctid=703b2bfd-55f7-400d-9297-0932ac4c6ea3&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLWF1c3RyYWxpYS1lYXN0LWEtcHJpbWFyeS1yZWRpcmVjdC5hbmFseXNpcy53aW5kb3dzLm5ldCJ9" frameborder="0" allowFullScreen="true"></iframe>*@
</div>