
@{
	ViewBag.Title = "Reports";
}

<h2>@ViewBag.Title</h2>

<div class="container-fluid">
	<iframe width="100%" height="800" src="https://app.powerbi.com/reportEmbed?reportId=3fe478ea-bb5b-4859-a224-dda64a677812&autoAuth=true&ctid=703b2bfd-55f7-400d-9297-0932ac4c6ea3&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLWF1c3RyYWxpYS1lYXN0LWEtcHJpbWFyeS1yZWRpcmVjdC5hbmFseXNpcy53aW5kb3dzLm5ldCJ9" frameborder="0" allowFullScreen="true"></iframe>
</div>